body {
    background-color: #f0f8ff;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-image: url(BG/BG.jpeg);
}

h1 {
    color: #333399;
    font-size: 2.5em;
    animation: blink 1s infinite; /* Animasi berkedip untuk judul */
}

p {
    font-size: 1.5em;
    color: #666666;
}

.blink-text {
    animation: blink 1.5s infinite; /* Animasi berkedip untuk teks khusus */
}

/* Tambahkan animasi kedip */
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
